@page
@model TinkerJems.Web2.Pages.AboutMeModel
@{
    ViewData["Title"] = "AboutMe";
}

<div style="display:flex">
    <img src="~/Images/PersonalPic.jpg" width="550" />
    <div style="display:inline; margin-left:2em">
        <h2 style="text-align:center">About Me</h2>
        <hr />
        <p style="font-size:23px; margin-left:1em">
            Hi there! I'm Nettie Graham, creator of Tinker Gems Jewelry! I have always been in love with the arts - music, painting, dancing - and ever since I dug into my sisters pink jewelry box, I've loved creating jewelry!
            As I developed this skill, I realized after a while that I had been finding every excuse possible to give my pieces away; Christmas, birthdays, Valentines, Easter.
            Then, it clicked! I could simply make a page for people to view my jewelry, and possibly buy it.
            It took a lot of work, but it was well worth it! As far as work goes, I teach small girls how to clog.
            I've found that making jewelry making has fit nicely in my schedule between teaching classes, and I want to expand this hobby into something bigger!
            Thank you for visiting my page, welcome to Tinker Gems Jewelry!
        </p>
        <div style="text-align:center; margin-top:2em;">
            <p style="font-size:23px; margin-left:1em">
                Follow me on Instagram!
            </p>
            <a href="https://www.instagram.com/nettie.graham/" class="fa fa-instagram" style="font-size:50px; color: #E1306C; text-decoration:none; border-radius:50%; margin-left:.5em;"></a>
        </div>
    </div>
</div>
