@page
@model TinkerJems.Web2.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>JewelryItem</h4>

@*NAVBAR*@
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#edc7b7; border-radius: .5em; padding:0em;">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" asp-page="./Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jewelry
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-page="./Items">All Jewelry</a>
                    @*<a class="dropdown-item" href="shopRings.html">Rings</a>
                        <a class="dropdown-item" href="shopNecklaces.html">Necklaces</a>
                        <a class="dropdown-item" href="shopEarrings.html">Earrings</a>
                        <a class="dropdown-item" href="shopBracelets.html">Bracelets and Anklets</a>*@
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" asp-page="./Blog" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Blog
                </a>
            </li>
            <li class="nav-item">
                @*<a class="nav-link" href="#aboutMe">About Me</a>*@
            </li>
        </ul>
    </div>
</nav>

<div class="row" style="width:max-content;">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JewelryItem.Name" class="control-label"></label>
                <input asp-for="JewelryItem.Name" class="form-control" />
                <span asp-validation-for="JewelryItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JewelryItem.Price" class="control-label"></label>
                <input asp-for="JewelryItem.Price" class="form-control" />
                <span asp-validation-for="JewelryItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JewelryItem.Description" class="control-label"></label>
                <input asp-for="JewelryItem.Description" class="form-control" />
                <span asp-validation-for="JewelryItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JewelryItem.LongDescription" class="control-label"></label>
                <input asp-for="JewelryItem.LongDescription" class="form-control" />
                <span asp-validation-for="JewelryItem.LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:inline-flex; flex-wrap:wrap">
                @foreach (var img in Model.Images)
                {
                    var relativePath = System.IO.Path.GetRelativePath("wwwroot", img);
                    var imgName = System.IO.Path.GetFileName(img);
                    <div style="display:block">
                        <input type="radio" value="@imgName" asp-for="JewelryItem.ImageUrl" style="align-content:center">
                        <img src="@relativePath" style="width:150px; height:150px; padding: 1em" />
                        <hr>
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Items">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
